<!-- <script src='http://cdn.peerjs.com/0.3.14/peer.min.js'></script> -->

<p id="yourid">Your id</p>
<input type="text" class="form-control" id="inputid" placeholder="id">
<a class="btn btn-primary btn-lg" id="connectbutton">Connect</a>


<div id="video-container">
        <video id="their-video" autoplay=""></video>
        <video id="my-video" muted="true" autoplay=""></video>
      </div>
